.top{
         height:5%;  
         width:25%;
       text-align:center;
        fontsize:25px;
padding-top:15px;
          background-color:grey;
     margin:auto;
color:red;

       }
.bodypart
   {
      height:25%; 
     width:20%;
      background-color:red;
     margin:auto;
padding-top:10px;
padding-left:50px;
}


input{
            width:50%;
          margin:auto;
}
course{
               width:100%;
}
button
{
 background-color:yellow;
  color:red;
  margin-left:25%;
border-radius:5px;
}
.tophead{
    padding-top:20%;
}


